<div>
    <div class="product__item" [ngClass]="product.oldPrice ? 'sale': ''">
        <div class="product__item__pic set-bg"
            [attr.data-setbg]="product.img"
            style="background-image: url(&quot;{{product.img}}&quot;);">
           
            <div class="label new" *ngIf="product.isNew">New</div>
            <div class="label stockout" *ngIf="product.isOutOfStock">out of stock</div>
            <div class="label sale" *ngIf="product.isSale">Sale</div>

            <ul class="product__hover">
                <li><a href="{{product.img}}" class="image-popup"><span
                        class="arrow_expand"></span></a></li>
                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
            </ul>
        </div>
        <div class="product__item__text">
            <h6>
                <a href="#">{{product.description}}</a>
            </h6>
            <span class="rating" *ngFor="let _ of [].constructor(product.rating)">
                <i class="fa fa-star"></i>
            </span>
            <div class="product__price">{{product.price | currency:'$ ':'symbol':'0.1-5'}} <span *ngIf="product.oldPrice">{{product.oldPrice | currency:'$ ':'symbol':'0.1-5'}}</span></div>
        </div>
    </div>
</div>